<p><strong><%= comment.commenter %>: </strong><%= comment.body %> | <%= link_to "", [comment.post, comment], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger glyphicon glyphicon-remove" %>
	</p>